---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content"width=device-width" />
		<meta name="genarator" content={Astro.genarator} >
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h1>About Me</h1>
		<h2>... and my new astro site!</h2>
		<p>I'm doing Astro tutorial. This is the second page for my website.</p>
		<p>This site is being updated as I continue the tutorial.</p>
	</body>
</html>
